<div id="app">
  <div class="container pt-4">
    <div class="d-flex flex-wrap">
      <div class="search-wrapper"></div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input matInput placeholder="search" (keyup)="onSearch($event)">
        <ng-container matSuffix *ngIf="searchValue | async;">
            <button mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>
    </mat-form-field>
    </div>
  </div>
</div>

<div>
    <div class="list mt-4 pt-4">
        <div *ngFor="let profile of profiles$ | async" class='movie-item' >
            <h2>{{ profile.username }}</h2>
            <h2>{{ profile.firstname }}</h2>
            <!-- <img loading="lazy" [src]='"https://image.tmdb.org/t/p/w500" + profile.photoURL'> -->
        </div>
    </div>
</div>

