<div class="card-size">
    <h2 mat-dialog-title>Rating details</h2>
    <mat-dialog-content class="mat-typography">
        <div class="px-lg-3 px-1">
            <div class="d-flex flex-row justify-content-between" *ngIf="data.element.user">
                <div class="d-flex flex-row my-2">
                    <div *ngIf="data.element.user.photo" class="me-2 mb-1">
                        <img [src]="data.element.user.photo" alt="Profile picture of {{ data.element.user.username }}"
                            class="profile" />
                    </div>
                    <div class="d-flex flex-column">
                        <strong
                            class="fw-semibold">{{ userId === data.element.user.id_user ? 'Me' :data.element.user.username }}</strong>
                        <span style="font-size: 10px;">{{data.element.date_created}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row">
                <div class="p-0 text-center mb-lg-0 mb-2">
                    <img [src]="'https://image.tmdb.org/t/p/w500/' + data.element.movie.poster_path"
                        [routerLink]="'/movies/'+ data.element.movie.id"
                        alt="Photo of the movie {{ data.element.movie.title }}" class="movie" />
                </div>
                <div style="padding: 0 0 0 12px">
                    <div class="d-flex flex-column mx-lg-4">
                        <strong class="text-truncate">{{ data.element.movie.title }}</strong>
                        <div class="my-3 row">
                            <div class="col-lg-9 col-12">
                                <ngb-rating class="rating-star" [(ngModel)]="data.element.rating" [max]="5"
                                    [(rate)]="data.element.rating"
                                    [readonly]="!(data.edit || data.element.user===undefined)">
                                </ngb-rating>
                            </div>
                        </div>
                        <ng-container *ngIf="data.edit || !data.element.user; else notEdit">
                            <mat-form-field>
                                <mat-label><strong>Leave a comment</strong></mat-label>
                                <textarea matInput [(ngModel)]="data.element.comment"
                                    id="comment">{{ data.element.comment ? data.element.comment : '' }}</textarea>
                            </mat-form-field>
                        </ng-container>
                        <ng-template #notEdit>
                            <label *ngIf="data.element.comment">{{'“'+data.element.comment+'“'}}</label>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button *ngIf="data.edit" mat-raised-button color="primary" [mat-dialog-close]="data">Edit</button>
        <button *ngIf="!data.element.user" mat-raised-button color="primary"
            [mat-dialog-close]="data.element">Rate</button>
        <button (click)="onNoClick()" mat-raised-button color="warn">Close</button>
    </mat-dialog-actions>
</div>