.rating-star {
  font-size: 24px;
  color: #dc9600;
}
textarea {
  height: 250px !important;
}

.profile {
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.movie,
.profile {
  border: var(--bs-border-color-translucent) 2px solid;
}

.movie {
  width: 150px;
}
strong {
  font-size: 14px;
}

.comment {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 56px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.card-size {
  width: 900px !important;
}
@media (max-width: 576px) {
  .card-size {
    width: 100% !important;
  }
}