<div id="app">
    <div class="container pt-4">
        <div class="list mt-4 pt-4">
            <div *ngFor="let flu of flux | async" class="flux">
                <p><strong>{{ flu.id_user }} rated {{ flu.movie_name }}</strong></p>
                <p>{{ flu.rating }} stars</p>
                <div class="row">
                    <div class="col"><div class="button-gray w-50">Movie</div></div>
                    <div class="col"><div class="button-purple w-50">Note</div></div>
                </div>


            </div>
        </div>

    </div>
</div>