::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
  background-color: grey;
}

body,
html,
#app {
  width: 100%;
  min-height: 100%;
  background: #eee;
  font: 400 16px 'Lato';
}

#app {
  padding: 1em 1em 84px 1em;
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: auto;
}

.logo {
  flex: 0 0 100px;
}

.search-wrapper {
  flex: 1;
}
.genres {
  display: flex;
  flex-wrap: wrap;
}
.list {
  margin-top: 30px;
}

.flux {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 5px 20px #999;
}

@media screen and (max-width: 767px) {
  .list {
    display: grid;
    grid-gap: 20px 10px;
    .poster {
      height: 70px;
    }
    h5 {
      margin: 10px 0;
    }
  }
}

@media (min-width: 766px) {
  .list {
    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .poster {
      height: 100px;
    }
    h5 {
      margin: 15px 0;
    }
  }
}

#search {
  background: white;
  width: 100%;
  input {
    border: 1px solid #aaa;
    border-radius: 10em;
    color: #666;
  }
}

.poster {
  background: none 50% 50% / contain no-repeat transparent;
  width: 100%;
}

.form-group {
  margin-bottom: 0;
  input {
    height: auto;
    padding: 0.5em;
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .form-group input {
    margin-left: 0;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
.col {
  flex: 1 0 0;
}
.w-50 {
  width: 50%;
  margin: 0 auto 0 auto;
}

.button-gray, .button-purple {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}
.button-gray {
  background-color: #d0d0d0;
  color: black;
}

.button-purple {
  background-color: #3f51b5;
  color: white;
}