::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
  background-color: grey;
}

body,
html,
#app {
  width: 100%;
  min-height: 100%;
  background: #eee;
  font: 400 16px 'Lato';
}

#app {
  padding: 1em 1em 84px 1em;
}

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

.buttons{
  background-color: #3f51b5;
  border: white 2px solid;
  color: white;
}

.green {
  color: darken($secondary, 20%);
}

.red {
  color: darken($error, 10%);
}

button {
  cursor: pointer;
}

#success-box {
  background: linear-gradient(to bottom right, $success 40%, $secondary 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  perspective: 40px;
}

#error-box {
  background: linear-gradient(to bottom left, $error 40%, $orange 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
}

.face {
  position: absolute;
  width: 50px;
  height: 50px;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 21%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.face2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 21%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: $dark;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position:absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent $dark $dark transparent;
  transform: rotate(45deg);
}

.sad {
  top: 49%;
  border: 2px solid;
  border-color: $dark transparent transparent $dark;
  transform: rotate(45deg);
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
