<div id="app">
    <div class="container pt-4">
        <div class="d-flex flex-wrap">
            <div class="search-wrapper">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="genres">
            <mat-chip-listbox *ngFor="let genre of genres;" aria-label="Genre selection">
                <mat-chip-option [selected]="genre.selected" style="margin-right: 5px;">{{genre.name}}</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <tp-movies-movie-list [movies]="movies"></tp-movies-movie-list>

        <mat-paginator (page)="handlePageEvent($event)" [length]="movies.total_results" [pageSize]="20"
            aria-label="Select page">
        </mat-paginator>

    </div>
</div>