::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
  background-color: grey;
}

#app {
  padding: 1em 1em 84px 1em;
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: auto;
}

.logo {
  flex: 0 0 100px;
}

.search-wrapper {
  flex: 1;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.list {
  margin-top: 30px;
}

#search {
  background: white;
  width: 100%;
  input {
    border: 1px solid #aaa;
    border-radius: 10em;
    color: #666;
  }
}

.form-group {
  margin-bottom: 0;
  input {
    height: auto;
    padding: 0.5em;
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .form-group input {
    margin-left: 0;
  }
}
