<div style="height: 100vh;">
    <mat-toolbar color="primary" [fxShow]="!sidenav.opened && link !== '/register' && link !== '/login'">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button class="title" routerLink="/">
            <ng-container *ngIf="title !== ''; else elseTemplate">
                <span ngI>{{title}}</span>
            </ng-container>
            <ng-template #elseTemplate>
                <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <mat-icon class="white" aria-hidden="false" fontIcon="movie"></mat-icon>
                    <span style="margin-left: 5px;">Movies<b>BDD</b></span>
                </div>
            </ng-template>
        </a>
        <div fxShow="true" fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="flex-start center">
            <a mat-button routerLink="/movies">Movies</a>
            <a mat-button routerLink="/users" *ngIf="isConnected | async">Search</a>
            <a mat-button routerLink="/flux" *ngIf="isConnected | async">Flux</a>
        </div>

        <span class="spacer"></span>

        <div class="nav-list" fxShow="true" fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="flex-end center">
            <ng-container *ngIf="isConnected | async; else elseAvatar">
                <h5 [matMenuTriggerFor]="connectedMenu">{{user?.displayName}}</h5>
                <img class="user-avatar" [matMenuTriggerFor]="connectedMenu"
                    [src]="user?.photoURL ? user?.photoURL: 'https://www.pngmart.com/files/22/User-Avatar-Profile-Download-PNG-Isolated-Image.png'"
                    alt=" avatar">
            </ng-container>
            <ng-template #elseAvatar>
                <button mat-icon-button [matMenuTriggerFor]="disconnectedMenu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>person</mat-icon>
                </button>
            </ng-template>
            <mat-menu #connectedMenu="matMenu">
                <button mat-menu-item routerLink="/profile">
                    <span>Profile</span>
                </button>
                <button mat-menu-item (click)="signOut()">
                    <span>Logout</span>
                </button>
            </mat-menu>

            <mat-menu #disconnectedMenu="matMenu">
                <button mat-menu-item routerLink="/register">
                    <span>Register</span>
                </button>
                <button mat-menu-item routerLink="/login">
                    <span>Login</span>
                </button>
            </mat-menu>
            <button mat-icon-button aria-label="notifications" *ngIf="isConnected | async" routerLink="/flux">
                <mat-icon [matBadge]="(notif | async) ?? 0" matBadgeColor="accent">notifications</mat-icon>
            </button>
        </div>
        <div fxShow="false" fxHide.lt-md="false">
            <button mat-icon-button aria-label="search" routerLink="/users">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button aria-label="logout" (click)="signOut()" *ngIf="isConnected | async">
                <mat-icon>logout</mat-icon>
            </button>
            <button mat-icon-button aria-label="notifications" *ngIf="isConnected | async" routerLink="/flux">
                <mat-icon [matBadge]="(notif | async) ?? 0" matBadgeColor="accent">notifications</mat-icon>
            </button>
        </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>

        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column" class="sidebar-content">
                <div class="user-info" fxLayout="row">
                    <div fxLayout="column" fxLayoutAlign="space-between start" class="h-100">
                        <img class="user-avatar" [src]="(isConnected | async) ? (user?.photoURL?
                            'https://material.angular.io/assets/img/examples/shiba2.jpg' :
                            'https://www.pngmart.com/files/22/User-Avatar-Profile-Download-PNG-Isolated-Image.png') :
                            'https://www.pngmart.com/files/22/User-Avatar-Profile-Download-PNG-Isolated-Image.png'"
                            alt="avatar">
                        <ng-container *ngIf="isConnected | async; else elseConnect">
                            <span class="white" style="margin-bottom: 9px;">{{user?.displayName}}</span>
                        </ng-container>
                        <ng-template #elseConnect>
                            <button class="white" mat-button (click)="sidenav.close()" routerLink="/login">
                                Se connecter
                            </button>
                        </ng-template>

                    </div>
                    <span class="spacer"></span>
                    <div fxLayout="column" fxLayoutAlign="space-between end" class="h-100">
                        <div>
                            <span class="spacer"></span>
                            <button mat-icon-button aria-label="settings">
                                <mat-icon class="white" mat-icon-no-color>settings</mat-icon>
                            </button>
                        </div>
                        <button *ngIf="isConnected | async" class="white" mat-button routerLink="/profile"
                            (click)="sidenav.close()">Edit</button>

                    </div>
                </div>
                <mat-divider></mat-divider>
                <a mat-button [routerLink]="menu.link" (click)="sidenav.close(); goToMenu(menu.name)"
                    *ngFor="let menu of menus" [style]="{display:menu.visible ? '' : 'none'}">
                    <mat-icon style="font-size: 26px;height: 26px; width: 26px;">{{menu.icon}}</mat-icon>
                    <span>{{menu.name}}</span>
                </a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill style="margin-bottom: 64px;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>