<div *ngIf="joke$ | async as joke">
    {{joke$}}
    <p>{{ joke.setup }}</p>

    <p>{{ joke.delivery }}</p>
</div>


<h1>Popular Movies {{popularMovies$}}</h1>
<ul>
  <li *ngFor="let movie of popularMovies$ | async">
    <ng-container *ngIf="movie.poster_path">
      <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }} poster">
    </ng-container>
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.overview }}</p>
    <p>Popularity: {{ movie.popularity }}</p>
  </li>
  <li *ngIf="(popularMovies$ | async)?.results.length === 0">No results found</li>
</ul>
