<div class="login-wrap">
    <div class="login-html">
        <a mat-button class="title white" routerLink="/" fxLayout="row" fxLayoutAlign="flex-start center">
            <mat-icon aria-hidden="false" fontIcon="movie"></mat-icon>
            <span style="margin-left: 5px;">Movies<b>BDD</b></span>
        </a>
        <input id="tab-1" type="radio" name="tab" class="sign-in" [checked]="login" routerLink="/login">
        <label for="tab-1" class="tab">SignIn</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" [checked]="register" routerLink="/register">
        <label for="tab-2" class="tab">SignUp</label>
        <div class="login-form">
            <form [formGroup]="signin" class="sign-in-htm">
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="signin.get('email')?.hasError('email')">
                            Enter a valid email
                        </mat-error>
                        <mat-error *ngIf="signin.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                            formControlName="password" formControlName="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="signin.get('password')?.hasError('minlength')">
                            Must have at least 6 character
                        </mat-error>
                        <mat-error *ngIf="signin.get('password')?.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="group">
                    <button (click)="signIn()" type="submit" mat-raised-button color="primary">Se connecter</button>
                </div>

            </form>
            <form [formGroup]="signup" class="sign-up-htm">
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Username" formControlName="username">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="signup.get('username')?.hasError('required')">
                            Username is required
                        </mat-error>
                        <mat-error *ngIf="signup.get('username')?.hasError('minlength')">
                            Must have at least 6 character
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="signup.get('email')?.hasError('email')">
                            Enter a valid email
                        </mat-error>
                        <mat-error *ngIf="signup.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                            formControlName="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="signup.get('password')?.hasError('minlength')">
                            Must have at least 6 character
                        </mat-error>
                        <mat-error *ngIf="signup.get('password')?.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'"
                            formControlName="confirmPassword">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="signup.get('confirmPassword')?.hasError('matching')">
                            Password must match.
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="group">
                    <button (click)="signUp()" type="submit" mat-raised-button color="primary">S'inscrire</button>
                </div>

            </form>
        </div>
    </div>
</div>